.container{
	display: flex;
	flex-direction: column;
	top: 0;
	
	margin: 10px;
}

.box {
	padding: 10px;
	margin-bottom: 10px;
}

.label {
	display: flex;
	padding-top: 10px;
}

.button  {
	height: 2rem;

	
}

h1{
	color: blue;
	display: flex;
	justify-content: center;
	aligin-items: center;
}

